
body {
  margin: 0;
}

.tittle {
  background-color: #000;
  color: #fff;
  font-family: 'Montserrat', bold;
  position: relative;
  padding-top: 50px;
  padding-left: 2rem;
}
.Mainheading {
  font-family: 'Montserrat', bold;
  font-size: 3rem;
  font-weight: 300;
  line-height: 1.5;

}
