body {
  margin: 0;
}

h1 {
  font-family: 'Montserrat', bold;
  font-size: 3rem;
  font-weight: 300;
  line-height: 1.5;

}

p {
  color: #40514E;
  
}

h4 {
  font-family: 'Montserrat', bold;
}

.p {
  color: #ffffff;
}

.s {
  color: #000;
}

.aa {
  width: 100%;
  position: relative;
  padding-top: 0;
}

.t {
position: relative;
padding-top: 150px;
padding-bottom: 30px;
background-color: #000;
color: #FFFFFF;
}

.k {
  font-family: 'Montserrat', bold;
}

.ak {
  width: 30%;
}

.al {
  width: 20%;
}

.am {
  width: 55%;
}

.card-desk {
  padding-left: 5%;
  padding-right: 5%;
}
